<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.challengesugarlab">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ChallengeSugarLab">
        <activity
            android:name=".Ejercicios.MaquinaExpActivity"
            android:exported="false" />
        <activity
            android:name=".Ejercicios.RobotActivity"
            android:exported="false" />
        <activity
            android:name=".Ejercicios.TrucoTratoActivity"
            android:exported="false" />
        <activity
            android:name=".Ejercicios.IterationActivity"
            android:exported="false" />
        <activity
            android:name=".Ejercicios.HoroscopoChinoActivity"
            android:exported="false" />
        <activity
            android:name=".Ejercicios.BatallaPokemonActivity"
            android:exported="false" />
        <activity
            android:name=".Ejercicios.CalculadoraActivity"
            android:exported="false" />
        <activity
            android:name=".Ejercicios.AnillosPoderActivity"
            android:exported="false" />
        <activity
            android:name=".Ejercicios.PPTActivity"
            android:exported="false" />
        <activity
            android:name=".Ejercicios.ConjuntosActivity"
            android:exported="false" />
        <activity
            android:name=".Ejercicios.CarreraObstaculosActivity"
            android:exported="false" />
        <activity
            android:name=".Ejercicios.AreaPoligonoActivity"
            android:exported="false" />
        <activity
            android:name=".Ejercicios.AnagramaActivity"
            android:exported="false" />
        <activity
            android:name=".Ejercicios.FizzbuzzActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.ChallengeSugarLab">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>